
<section id="about" class="cv-section section-header">

    <md-card class="card-about">
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex >
            <div fxFlex fxFlex.gt-md="35%">
                <div class="candidate-img mb-35"></div>
                <ul class="social-icons">
                    <li>
                        <a class="facebook-link" href="#">
                                    <i id="tt1" class="zmdi zmdi-facebook" tabindex="0"></i>
                                </a>
                    </li>
                    <li>
                        <a class="twitter-link" href="#">
                                    <i id="tt2" class="zmdi zmdi-twitter" tabindex="0"></i>
                                </a>
                    </li>
                    <li>
                        <a class="linkedin-link" href="#">
                                    <i id="tt3" class="zmdi zmdi-linkedin" tabindex="0"></i>
                                </a>
                    </li>
                </ul>
            </div>
            <div fxFlex fxFlex.gt-md="65%" style="margin: 0px auto;">
                <div class="info-wrap">
                    <h1>daniel graña cousido</h1>
                    <h3>full stack developer</h3>
                </div>
                <ul class="profile-wrap">
                    <li>
                        <div class="profile-title">born</div>
                        <div class="profile-desc">22th of April, 1984</div>
                    </li>
                    <li>
                        <div class="profile-title">address</div>
                        <div class="profile-desc">
                            Rúa dos Pazos, 1º F, Nigrán, PO 36350 Spain
                        </div>
                    </li>
                    <li>
                        <div class="profile-title">email</div>
                        <div class="profile-desc">
                            dagranac@gmail.com
                        </div>
                    </li>
                    <li>
                        <div class="profile-title">phone</div>
                        <div class="profile-desc">
                            +34 620 33 25 69
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
    </md-card>

</section>



