<nav class="top-navbar">
  <a md-button>
      <i class="material-icons menu-btn" (click)="toggleSidenav()">menu</i>
    </a>
  <div fxLayout="row">


    <span class="fill-remaining-space"></span>

    <a md-button pageScroll [pageScrollInterruptible]="true" [pageScrollDuration]="500" [pageScrollOffset]="75" href="#about">
      <span>About</span>
    </a>

    <a md-button pageScroll [pageScrollInterruptible]="true" [pageScrollDuration]="500" [pageScrollOffset]="75" href="#skills">
      <span>Skills</span>
    </a>
    <a md-button pageScroll [pageScrollInterruptible]="true" [pageScrollDuration]="500" [pageScrollOffset]="75" href="#experience">
      <span>Experience</span>
    </a>
    <a md-button pageScroll [pageScrollInterruptible]="true" [pageScrollDuration]="500" [pageScrollOffset]="75" href="#education">
      <span>Education</span>
    </a>
  </div>
</nav>