@import '../../../styles/constants';

.cv-section-list {
  padding: 0px;
  margin-bottom: 100px;
}

.cv-section-list-card {
  display: inline-block;
  width: 260px;
  margin: 20px;
  vertical-align: top;
  cursor: pointer;

  .mat-card-title {
    font-size: 20px;
  }
}

.cv-section-list-card-summary {
  height: 2.4em;
}


