<ul class="timeline">
        <li *ngFor="let item of getTimelineItems();let index = index" [class.timeline-inverted]="index % 2">
            <div class="timeline-badge">
                <i *ngIf="item.icon !== undefined"  class="material-icons">{{item.icon}}</i>
            </div>
            <div class="timeline-panel timeline-border-top">
                <div class="timeline-heading">
                    <h4> {{item.title}}</h4>
                    <span class="duration">{{item.duration}}</span>
                    <span class="institution">{{item.institution}}</span>
                </div>
                <div *ngIf="item.description"  class="timeline-description">
                    <p>{{item.description}}</p>
                </div>
            </div>
        </li>

        <li class="clearfix no-float"></li>
    </ul>