@import '../../../styles/functions';

$sidenav-spacing-unit: 8px;
$sidenav-width: 240px;

app-main-content {
  display: flex;
}

.bg-struct.bg-img {
    /*background: url('/assets/img/img-bg-1.jpg');
    background-position: center;
    background-size: cover;*/

    background-image: url('/assets/img/carbon-fibre.png');
    background-color: rgba(0,0,0,0.50);
}

.bg-struct {
    position: absolute;
    height: 480px;
    width: 100%;
    left: 0;
    top: 0;
}



.main-content-viewer-sidenav-container {
  width: 100%;
  z-index: 9;
  background: #e2e2e2;

  .mat-sidenav-content {
    position: absolute;
    right: 0;
    left: 0;
  }
}

.main-content-viewer-sidenav {
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  background-color: #272727;
  padding-bottom: 72px;
  width: $sidenav-width;
  bottom: 0;
  overflow: auto;
  height: 100%;

  &.mat-sidenav-opened {
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  }

  // Section divider
  h3 {
    border: none;
    font-size: 1.1em;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: CAPITALIZE;
    font-weight: 400;
    margin: 0;
    padding: 0 16px;
    padding: 16px 40px;
  }
  h3:hover{
    background-color: #2b2b2b;
    transition: background-color .3s;
  }

  ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
  }

  // Sidenav navigation item
  li {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin: 0;
    padding: 0;
    cursor: pointer;


    // Hide the border on the last item
    &:last-child {
      border-color: transparent;
    }
  }
}

.main-content-sidenav-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 80px;

  // The rule will match the element following the router-outlet which will be the routed component.
  router-outlet + * {
    flex-grow: 1;
  }
}


.candidate{
  position: absolute;
  top: 55px;
  left: 0px;
  right: 0px;

  .candidate-img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      background: url('/assets/img/avatar.jpg');
      background-size: cover;
      margin: 0 auto;
      margin-bottom: 15px;
	}

  .social-icons {
		text-align:center;
		li {
			display:inline-block;
			padding:0 7px;
			a {
				i {
					color:#848484 ;
					@include transition(.3s ease);
				}
				&.facebook-link {
					&:hover {
						i {
							color: white;
						}
					}
				}
				&.twitter-link {
					&:hover {
						i {
							color: white;
						}
					}
				}
				&.linkedin-link {
					&:hover {
						i {
							color: white;
						}	
					}
				}
			}
		}
	}
}
